<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"	
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd 
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-4.3.xsd 
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.3.xsd 
	http://www.springframework.org/schema/mvc 
	http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">	
	
	
	
	
	 <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" 
		init-method="init" destroy-method="close"
		p:url="${url}" p:username="${username}" p:password="${password}" p:driverClassName="${className}"
		p:filters="${filters}" p:maxActive="${maxActive}" p:initialSize="${initialSize}" p:maxWait="${maxWait}"
		p:minIdle="${minIdle}" p:timeBetweenEvictionRunsMillis="${timeBetweenEvictionRunsMillis}"
		p:minEvictableIdleTimeMillis="${minEvictableIdleTimeMillis}"
		p:validationQuery="${validationQuery}" p:testWhileIdle="${testWhileIdle}"
		p:testOnBorrow="${testOnBorrow}" p:testOnReturn="${testOnReturn}"
		p:maxOpenPreparedStatements="${maxOpenPreparedStatements}"
		p:removeAbandoned="${removeAbandoned}" p:removeAbandonedTimeout="${removeAbandonedTimeout}"
		p:logAbandoned="${logAbandoned}" /> 
	
	 
	 
	
	 <bean id="transactionManager"  class="org.springframework.jdbc.datasource.DataSourceTransactionManager"> 
	    <property name="dataSource" ref="dataSource"></property> 
	</bean> 
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"
		p:dataSource-ref="dataSource"	
		p:mapperLocations="classpath*:com/platform/**/domain/mapper/*.xml"
		p:configLocation="classpath:mybatis-config.xml"	/>
		
	
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory"></constructor-arg>
	</bean>
	
</beans>

